html,
body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #D7DFEA;
  background-size: cover;
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.frame {
  width: 400px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 55px rgba(0, 0, 0, 0.2);
}

.row {
  height: 90px;
  width: 400px;
  background-color: #525863;
  border-left: solid 8px #3C404B;
  transition: all .5s ease;
  padding: 25px 30px 0px 30px;
}

.row:hover {
  background-color: #353942;
  border-left: solid 8px #353942;
  cursor: pointer;
}
.active {
  height: 300px;
  background-color: #201F24;
  width: 420px;
  border: none;
  transition: all .5s ease;
  padding: 25px 40px 0px 50px;
  overflow: hidden;
}
a {
    text-decoration: none;
    display: block;
    width: 75px;
    height: 25px;
    background: #4E9CAF;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
h1 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #C7CDD8;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
}

h2 {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #dce3ef;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
}
