html,
body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

body {
  background-color: #49a078;
  background-size: cover;

}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.frame {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 55px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  color: #C7CDD8;
  height: 90px;
  width: 450px;
  background-color: rgba(53, 57, 66, 0.4);
  border-left: solid 8px #3C404B;
  transition: all .5s ease;
  padding: 25px 30px 0px 30px;
}

.row:hover {
  width: 460px;
  color:#DCE2EF;
  background-color: #353942;
  border-left: solid 8px #353942;
  cursor: pointer;
}
.active {
  color:#DCE2EF;
  background-color: #353942;
  width: 475px;
  border: none;
  transition: all .5s ease;
  padding: 25px 25px 50px 50px;
  overflow: hidden;
}
a {
    text-decoration: none;
    background: #4E9CAF;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
  }
.titles {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.top {
  text-align: center;
  padding-bottom: 20px;
  font-size: 32px;
  font-weight: 400;
  color: #d5dbe8;
  text-decoration: underline dotted;
  letter-spacing: 1px;
}

h2 {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #dce3ef;
  letter-spacing: 2px;
}
